[2019-02-05 20:57] greenkeeper[bot] opened #1 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-02-06 14:48] rwwagner90 opened #2 "Setup Travis build"
We need to run tests and such in travis

[2019-02-06 14:48] rwwagner90 opened #3 "Write tests"
We should port the tests from ember-shepherd to here

[2019-02-28 10:42] 0Archish0 opened #4 "export 'defineInjectable' was not found in '@angular/core"
I am trying to installing this plugin in angular 4 (on local machine) and i am getting this warning

394:57-73 "export 'defineInjectable' was not found in '@angular/core'
    at HarmonyImportSpecifierDependency._getErrors (E:\www\nginx\html\frontend-v2\node_modules\webpack\lib\dependencies\HarmonyImportSpecifierDependency.js:65:15)
    at HarmonyImportSpecifierDependency.getWarnings (E:\www\nginx\

[2019-03-19 19:56] rwwagner90 commented on #4
I am not sure if it will work with Angular 4 or not. It is written for Angular 7. Do you know the compatibility of the versions?

[2019-04-01 13:36] rwwagner90 commented on #4
@tomvangreen it seems like you know more about Angular than me, would this be compatible with Angular 4?

[2019-04-02 08:50] tomvangreen commented on #4
@rwwagner90 I'm not sure. Your project does not use anything special that should not work in 4.0 itself, but a library built with angular 7 is not compatible with angular 4.

After searching a bit I found this issue: https://github.com/angular/angular/issues/19607

@0Archish0 : I would try to fork this project and rework it so it is based on angular 4 and than build it yourself. I think there shou

[2019-04-02 09:08] tomvangreen commented on #4
Hmm, after thinking about this, the easiest way to use angular-shepherd with angular 4 is probably if you install  the shepherd npm dependency and copy the files from the lib folder into your project: https://github.com/shipshapecode/angular-shepherd/tree/master/projects/shepherd/src/lib

[2019-04-02 14:51] rwwagner90 commented on #4
@tomvangreen so as a general rule, angular libraries only work for the specific angular version they were built with? I was hoping they worked at least a version or two back, but good to know. We should talk about angular version compatibility in the README.

[2019-04-02 15:40] tomvangreen commented on #4
@tomvangreen I never built an angular library myself, so I'm not really sure about this. If I'm not mistaken libraries should be forward compatible as long as you don't use any features that have been changed. When we updated an application from angular 6 to 7, we could still use the libraries built for angular 6 (while getting some errors that the peer dependency to angular was wrong). But I susp

[2019-04-15 19:19] rwwagner90 commented on #4
Closing this as `wontfix` for now. My angular knowledge is limited, and this will only work for Angular 7+. If anyone wants to help write wrappers for other Angular versions, I would be glad to help out!

[2019-04-15 19:19] #4 closed

[2019-05-09 14:11] matte00 opened #6 "Error Typescript 2709 Cannot use namespace 'Shepherd' as a type.`"
Hi mate,

i trying your create angular library but when try to compile with typescript 2,9,2 i riceved this error:

`ERROR in node_modules/angular-shepherd/lib/shepherd.service.d.ts(15,17): error TS2709: Cannot use namespace 'Shepherd' as a type.`

Any idea?

[2019-05-09 15:23] rwwagner90 commented on #6
Can you give me some more info please? What angular version, how do you have angular-shepherd installed, etc? I do not have much Angular experience, but I would definitely like to make sure this works.

[2019-05-10 06:30] matte00 commented on #6
Hi @rwwagner90 adnd thank you for you response.
I'm using angular 5.2.11 in my current project and i can't upgrade it at the moment.
I have installed

- angular-shepherd 0.0.4 by `npm install angular-shepherd --save`

- shepherd.js 2.8.0 by `npm install shepherd.js --save`

- typescript versione 2.9.2

- webpack 3.12.0

- node v10.13.0

- npm 6.4.1

Thank you alot for your help. Have a nice day!

[2019-05-13 11:04] rwwagner90 commented on #6
@matte00 This was written with Angular 7, and likely only works with Angular 7+, so unfortunately, it may not work for you. I would be glad to support other versions, if you and/or others wanted to help me figure out how to do so. I think things are breaking every time there is a major update and there is not a way to support more than one Angular version.

[2019-05-13 14:50] tomvangreen commented on #6
@matte00
Yeah, this is most likely the problem. Though this library is just a thin wrapper over shepherd. You should be able to clone this repository and then copy the content of the lib folder into your source code ( https://github.com/shipshapecode/angular-shepherd/tree/master/projects/shepherd/src/lib ). You still need to install shepherd manually with npm, but I think the services provided by

[2019-05-14 09:38] matte00 commented on #6
thank you @rwwagner90 @tomvangreen i'll try it!

[2019-05-20 01:11] mruknowme opened #7 "IE support?"
Doesn't work in IE because shperd.js 2.5.0 uses class syntax. Is it possible to add support from the package side?

Any suggested solutions?

Thanks

[2019-05-20 20:37] rwwagner90 commented on #7
We recently dropped IE support in Shepherd, but we are planning to add it back soon. Follow https://github.com/shipshapecode/shepherd/issues/351 for more info

[2019-05-28 12:51] rwwagner90 commented on #7
We just released angular-shepherd 0.0.5, it should support IE again!

[2019-05-28 12:51] #7 closed

[2019-07-03 15:48] romojo opened #8 "No license"
Is this library meant to be released under MIT, like the wrapped Shepherd library itself?

[2019-07-04 08:04] ayushin opened #9 "Anybody working on Angular-Dart wrapper?"
Hi,

Looks like a really great intro/tour package, we'd love to use it with our Angular/Dart application https://portal.aahi.io - has anyone looked at making an angular-dart wrapper?

Regards,

Alex

[2019-07-04 13:19] rwwagner90 commented on #8
Yes

[2019-07-04 13:25] rwwagner90 commented on #9
@ayushin I barely was able to throw together this angular one. I am not familiar with dart, but would definitely be open to supporting it. Would you be able to help us throw something together?

[2019-07-04 18:43] ayushin commented on #9
Yes, I guess I could, but I am very very short on time at this moment. Basically the way forward would be to look at the implementation of I guess google_maps https://pub.dev/packages/google_maps which interfaces with google maps javascript library and does similar to what we want, but our challenge is way simpler than that :) if you have the time/resources than i certainly would be very willing t

[2019-07-05 12:39] rwwagner90 commented on #9
I think having some blog posts or guides on how to do it or some sort of starting point, would be good.

[2019-07-06 13:53] #8 closed

[2019-07-12 06:33] Manvender-TC opened #10 "in ./node_modules/angular-shepherd/fesm5/angular-shepherd.js 297:57-75 [ng] "export 'ɵɵdefineInjectable' was not found in '@angular/core'"
[code]

[2019-07-12 10:47] rwwagner90 commented on #10
@Manvender-TC I don't use Angular myself. I don't know what the issue would be here. It works for the example app in the repo.

[2019-07-16 17:29] MaSydJun commented on #10
@rwwagner90 I don't think the example (https://github.com/shipshapecode/angular-shepherd/tree/master/projects/shepherd-tester) is comparable to a real live case.

That's most likely because you are importing the service class with this line:
`import { ShepherdService } from '../../../../shepherd/src/lib/shepherd.service';`
What you are importing there is not the compiled (javascript) version of yo

[2019-07-16 18:17] rwwagner90 commented on #10
How do other Angular libraries handle this? It seems odd that it's not possible to release a plugin that supports multiple Angular versions.

[2019-07-16 18:33] MaSydJun commented on #10
Honestly my angular knowledge is not sufficient. However, I think it's normal, users are forced to update their angular to the version used to build the library/package with.

[2019-07-16 19:28] rwwagner90 commented on #10
I do Ember day to day and you can write Ember addons compatible with all versions of Ember. I wish there was a way to opt into this in Angular.

[2019-07-18 17:59] prescindivel opened #11 "Does not work on ionic"
`ERROR Error: Uncaught (in promise): TypeError: Object(...) is not a function`

[code]

[2019-07-18 19:05] rwwagner90 commented on #11
@prescindivel I believe this is a duplicate of https://github.com/shipshapecode/angular-shepherd/issues/10

I think the issue there was we have compiled and released the latest version with Angular 8, which has made it incompatible with previous versions. Can you confirm your Angular version?

[2019-07-18 19:50] prescindivel commented on #11
@rwwagner90 That's why, my angular version is 5+.

[2019-07-18 19:50] #11 closed

[2019-07-22 02:30] Manvender-TC commented on #10
I had fixed the issue by updating existing library in my project . And its perfectly working with ionic project too.

[2019-07-22 16:40] BNRao commented on #10
Is there any way that ɵɵdefineInjectable can be replaced with defineInjectable?  I am working on Angular 7 and when I do npm install it is coming with ɵɵdefineInjectable which is not supported by angular 7. May i know any reason why ɵɵdefineInjectable is used?  It would be great if you can change or replace ɵɵdefineInjectable with defineInjectable in the npm package or suggest a way for me to fix

[2019-07-22 17:29] rwwagner90 commented on #10
@BNRao I am not using anything like that directly. It's just Angular 7 vs Angular 8 compilation differences. I wish Angular had a way to compile for different versions because if it did, this could support a bunch of Angular versions.

[2019-07-23 12:27] MaSydJun commented on #10
@BNRao As I already mentioned:

[2019-07-27 03:56] harleybl opened #12 "Trouble styling and sizing pop-ups, specifically with images"
Question: I am evaluating whether we can use Shepherd with our application.
For each step in the tour there is an image that we would like to display.
However whenever I do this the pop-up does not grow to encapsulate the image.
I have tried using a custom class to set the min-width but that doesn't seem to be working.
How do I specify the width and height of the pop-up?
Is this something that I n

[2019-07-27 04:33] harleybl commented on #12
I did have some success styling when I used the tippyOptions to append the dialog to a specific element within my component, however when I do that and use modal = true, the help dialog is completely covered by the semi-transparent overlay.

[2019-07-27 14:37] harleybl commented on #12
Actually after some experimentation I was able to figure this out. - Thanks

[2019-07-27 14:37] #12 closed

[2019-07-28 21:10] rwwagner90 commented on #12
@harleybl we should maybe explain this more in the docs. I think you have to set the width via tippy or it is capped at 400px.

[2019-08-19 09:25] joshirohit1988 opened #13 "disableScroll property in angular-shepherd service is not working."
Also Can't see any mapping of this property in shepherd tour instance

[2019-08-19 13:13] rwwagner90 commented on #13
Just added to the types https://github.com/shipshapecode/shepherd/pull/522

Will look into why it's not working in angular-shepherd.

[2019-08-19 14:13] #13 closed

[2019-08-20 22:53] #6 closed

[2019-08-26 20:45] Buttars opened #15 "Does shepherd-theme-arrows work with angular-shepherd?"
I am attempting to use shepherd-theme-arrows from the cloudflare cdn. It causes the model to look like this with the content missing but the arrow showing.
![](https://i.imgur.com/g1zzBVr.png)

Is there something I am missing? Is the angular version compatible with the arrows theme?

[2019-09-05 16:16] Buttars commented on #15
I am using angular-shepherd. I wanted to use the arrows theme but it sounds like that is a legacy feature. I think that answers my question, thank you :).

[2019-09-05 16:16] #15 closed

[2019-09-06 12:17] rwwagner90 commented on #15
@Buttars the arrows theme is built in. It is the default and all styles are shipped with the JS now. If you use angular-shepherd, you get the styles automatically.

[2019-10-16 12:05] #9 closed

[2019-11-06 14:10] luizdanielmlima opened #69 "No CSS files in the /dist folder, problems with theme customization in Angular"
(sorry, I posted this in the Abraham project)

Hello @jabbett ,

Thank you for your support. I´m using Angular Shepherd in my project. Since the themes (css files) are not included in the dist folder, I´m REALLY having a hard time changing it´s colors, etc.

Since I didn´t want to include any CSS in the node_modules/shepherd.js, I tried to customize it through a shepherd-theme.scss file, placed in

[2019-11-06 14:33] rwwagner90 commented on #69
@luizdanielmlima we need to update this wrapper to Shepherd v6, then it should be easier to customize the styles.

[2019-11-07 13:33] jabbett commented on #69
No worries @luizdanielmlima - I basically posted what @rwwagner90 said ;)

[2019-11-07 13:59] luizdanielmlima commented on #69
Thank you guys, my version is 5.0.1 so I will upgrade as soon as I can. In the end I managed to customize it by putting a **!important** in everything. I believe it´s because Shepherd´s CSS has a high specificity. Thank you again for your help!

[2019-11-07 14:09] luizdanielmlima commented on #69
Well, I just re-installed angular-shepherd, but it seems that is still uses shepherd.js 5.0.1, so I will wait when you release an update on angular-shepherd ;-)

[2019-11-07 15:21] rwwagner90 commented on #69
@luizdanielmlima yeah, we have no updated to v6 here yet, but will soon.

[2019-11-08 13:32] rwwagner90 commented on #69
@luizdanielmlima I have updated to v6 now, and released angular-shepherd 0.4.0.

[2019-11-08 13:32] #69 closed

[2019-11-08 13:32] #1 closed

[2019-11-08 14:39] luizdanielmlima commented on #69
Thank you!

[2019-11-12 21:05] Ryllau opened #79 "How to Create Custom Theme?"
Currently, I am trying to create custom styling to my first step but it seems like my styling is not taking precedence over the default styling.

`this.shepherdService.addSteps([{
            id: 'test',
            classes: 'shepherd',
            buttons: [
                {
                    text: 'Next',
                    type: 'next'
                }
            ],
            text: 'Hel

[2019-11-12 23:55] rwwagner90 commented on #79
@Ryllau I would have to see an example to determine why those styles are not working. We override a lot of styles for the landing page, if you want to reference that. https://github.com/shipshapecode/shepherd/blob/master/landing/css/styles.css#L107-L237

[2019-11-14 18:22] Ryllau commented on #79
![Screen Shot 2019-11-14 at 1 21 02 PM](https://user-images.githubusercontent.com/36181960/68884685-a8587880-06e1-11ea-9df7-575edb9e7d76.png)

This is what I am currently seeing. I would like to style this to look a little more appealing by adding a border and changing the background color.

[2019-11-14 19:43] rwwagner90 commented on #79
@Ryllau a screenshot doesn't help me to help you. I provided the styles where we overrode everything for the demo site. That should be very helpful for what you are trying to do. Is there something I can help you understand?

[2019-11-15 16:58] Ryllau commented on #79
hmmm. Yeah I am confused. I thought the classes: attribute within the addSteps function allows you to add your own custom css styles. However, when I create something like this...
buttons: [
                {
                    classes: 'my-custom-css',
                    text: 'Next',
                    type: 'next'
                }
            ],

my css does not take precedence.

[2019-11-15 17:08] rwwagner90 commented on #79
@Ryllau you have to look at the specificity. CSS does not work like that. Have you taken a look at this? https://github.com/shipshapecode/shepherd/blob/master/landing/css/styles.css#L107-L237

Adding a class simply adds a class. Normal CSS rules still apply. So if you have like `my-class` you cannot expect this to do anything:

[code]

You would instead want to do something like:

[code]

Again, I

[2019-11-15 17:11] Ryllau commented on #79
right! you are correct. Sorry, I am still learning. I appreciate your help and being patient with me for something basic!

[2019-11-15 17:20] #79 closed

[2019-12-05 16:19] CherniyFY opened #102 "Mistake in readme addSteps"
https://github.com/shipshapecode/angular-shepherd#addsteps

If i use this code

[code]

I get an empty modal.

But if I (get rid of `options` and modify `attachTo`) change it to

[code]

then everything is alright. Is it a mistake in readme or the problem is deeper?

[2019-12-05 16:45] rwwagner90 commented on #102
@CherniyFY yes, we should remove the `options` wrapper. It was a Shepherd v4 change and we missed updating the docs. Would you like to open a PR to fix it?

[2019-12-06 08:58] CherniyFY commented on #102
@rwwagner90 sure, here you go.

[2019-12-06 17:06] #102 closed

[2020-02-16 13:06] raframil opened #158 "Custom action on button not working"
So I just get started using Shepherd on my Angular 8 project, unfortunately, I can't do any custom actions inside my buttons.

[code]

console.log() doesn't happen, and I can't see why. Basically what I'm seeking is a way to router.navigate when the user finishes the current tour by clicking or advancing via keyboard.

[2020-02-17 11:16] raframil commented on #158
Ok, apparently you can't have a type and an action on the same button. Removing the type "cancel" solved it. I don't know if this is intended, maybe we need this in the docs.

[2020-02-18 02:26] rwwagner90 commented on #158
Yes, it does seem we do not document the button types well. Would you be interested in opening a PR?

[2020-02-18 12:35] raframil commented on #158
Sure!

[2020-02-26 10:15] lippomano opened #163 "Wrong position of the dialog in some cases"
In some case I see the dialog out of the screen, especially with a fixed button, for example this step:

`{
                id: 'contacts-new',
                attachTo: {
                    element: '#newContact',
                    on: 'top'
                },
                buttons: [closeButton, backButton, nextButton],
                highlightClass: 'highlight',
                scrollTo:

[2020-02-26 13:56] rwwagner90 commented on #163
@lippomano can you please try 0.5.0 that I just published? We switched from tether back to popper, so I think that might help.

[2020-02-26 14:24] lippomano commented on #163
Oh yes, it seems working.

now I have this error in console:

64     static ɵfac: i0.ɵɵFactoryDef<ShepherdService>;

[2020-02-26 14:31] rwwagner90 commented on #163
@lippomano sounds like an angular version issue. Unfortunately, angular doesn't offer any easy way to support multiple versions.

[2020-02-26 14:31] #163 closed

[2020-02-26 14:52] lippomano commented on #163
ok, I have angular 8.2 at the moment, so I can't use your product now because of angular?...

[2020-02-26 15:07] rwwagner90 commented on #163
@lippomano yeah,  I updated to Angular 9. I'm not sure how to support both, but if someone knows, I would love to support both.

[2020-02-27 13:20] #10 closed

[2020-03-02 09:45] lippomano commented on #163
I can confirm that it works better from the latest update with angular 9

[2020-03-05 02:54] jonathan-chin opened #174 "issues integrating with Ionic 4"
Hi,

I've been looking for the perfect tutorial module for my Ionic app. I wrote a quick test project but ran into 2 major issues:

1) when I scroll, the Shepherd popup does not keep attached to its element. it stays in the same position on the screen (ie won't scroll up as the element scrolls up).

2) when the parent element is off screen, the Shepherd popup has its opacity set to 0. I think the

[2020-03-05 15:33] rwwagner90 commented on #174
@jonathan-chin if you are experiencing issues, we would certainly love your help fixing them. Sounds like issues with Shepherd in general and not angular-shepherd.

[2020-03-17 04:30] bharghava52 opened #190 "Add User Interactions"
The Library looks very useful for better usage and user interactions.
 Can this library allow user interactions with the modules that are highlighted
and continue the tour based on the user actions performed.

[2020-03-17 12:35] rwwagner90 commented on #190
@bharghava52 yes, you can definitely do that. You can either manually advance the tour based on whatever actions or you can try using `advanceOn`. Please check out the official Shepherd docs. https://shepherdjs.dev/docs/

[2020-03-17 12:35] #190 closed

[2020-03-25 12:33] janakaedirisinghe commented on #10
I fixed this issue using delete some codes in module package with angular 8 :p

[2020-03-25 16:31] Ryllau opened #201 "Shepherd Step Title Issues"
If the Shepherd Title is too large the text will not wrap nor will the dialog box resize. The Text just rolls off the the side of the dialog box. Is there any fix for this?

[2020-03-25 18:22] rwwagner90 commented on #201
Can you show an example? You can style it with CSS and make it wrap.

[2020-03-31 08:42] lippomano opened #207 "Error after upgrade Angular to 9.1"
Just updated Angular to 9.1.0 and I have this error when I run ng serve and build.

    64     static ɵfac: i0.ɵɵFactoryDef<ShepherdService>;

In Angular/core/core.d.ts now there is this declaration:
`export declare type ɵɵFactoryDef<T, CtorDependencies extends CtorDependency[]> = () => T;`

[2020-03-31 13:03] rwwagner90 commented on #207
Angular is incredibly bad at compatibility. Libraries seem to only be able to support one exact Angular version at a time. This will likely go away if we update some deps.

[2020-03-31 13:49] lippomano commented on #207
In another library I found this line maybe it helps:
`static ɵfac: ɵngcc0.ɵɵFactoryDef<Ng2TelInput, never>;`

if I use it on your code it works.

[2020-03-31 14:29] rwwagner90 commented on #207
Not sure what you mean. We don't have anything like that, that I know of. Open to suggestions!

[2020-03-31 23:15] gmisiolek commented on #207
Just need to update angular with `ng update @angular/cli @angular/core` build and release a new version. That should work and fix missing second argument of `ɵɵFactoryDef`.

[2020-04-03 18:05] rwwagner90 commented on #207
@gmisiolek yeah, I was saying we aren't using anything like you mentioned, but for sure updating deps would fix things. I was saying that here https://github.com/shipshapecode/angular-shepherd/issues/207#issuecomment-606613117. We will work on updating deps soon hopefully.

[2020-04-06 12:04] jotae1e commented on #207
Can you take a look to this link?

https://github.com/angular/angular/issues/35291#issuecomment-585092417

He saids that it's a problem with the build of some libraries, that compile with Ivy support by default.

[2020-04-06 12:55] jotae1e opened #212 "ERROR in node_modules/angular-shepherd/lib/shepherd.service.d.ts:64:21 - error TS2694: Namespace '"/controlpresencial/ControlPresencialEmpleados/node_modules/@angular/core/core"' has no exported member 'ɵɵFactoryDef'."
I get the error of the title:

`ERROR in node_modules/angular-shepherd/lib/shepherd.service.d.ts:64:21 - error TS2694: Namespace '"/controlpresencial/ControlPresencialEmpleados/node_modules/@angular/core/core"' has no exported member 'ɵɵFactoryDef'.`

I tried with Ionic4 and Ionic 5 (both with Angular 8).

Can you take a look to this link?

https://github.com/angular/angular/issues/35291#issuecomm

[2020-04-06 12:57] rwwagner90 commented on #212
@jotae1e Angular does a very bad job of supporting multiple versions. We are on Angular 9 now, so as far as I know, there is no way to support Angular 8. Would love for an Angular dev to help us support multiple versions, if that is a thing.

[2020-04-06 12:59] rwwagner90 commented on #212
I just took a look at the disable ivy thing. I am not sure what that is, but we can try it!

[2020-04-06 12:59] jotae1e commented on #212
Nice.  I think that may be a solution.

[2020-04-06 13:17] rwwagner90 commented on #212
@jotae1e I just published 0.6.0. Can you see if it helps? I think it may still require Angular 9.

[2020-04-06 13:34] jotae1e commented on #212
Version 0.6 works well with Ionic 5 and Angular 8.  Thanks a lot for your work.

I can not upgrade to Angular 9 because my project has some libraries that not support it (for now).

[2020-04-06 13:34] #212 closed

[2020-04-07 07:36] jotae1e opened #213 "EMPTY this.shepherdService.steps"
I want to remove all the steps of a tour.

May be with this command:

`this.shepherdService.steps = []`

but it not works.

I've noticed that the steps property is empty.  See this example:
[code]
The console.log(this.shepherdService.steps) throws an empty array.

[2020-04-07 13:40] rwwagner90 commented on #213
The shepherdService would not have steps, I don't think. You would need to set the steps on the actual tour. Perhaps try `this.shepherdService.tourObject.steps = []`. You may have to use the Shepherd `addStep` and `removeStep` APIs.

[2020-04-07 14:02] jotae1e commented on #213
Sorry, but I don't understand for what is the property "steps" of the service then?

I tried to use:
`this.shepherdService.tourObject.steps = []`

but "steps" doesn't exist in tourObject.

Excuse my insistence but the shepherdjs library has a option property called steps.  In his documentation saids:

steps | Array.<object> \| Array.<Step> | An array of step options objects or Step instances to in

[2020-04-07 14:09] jotae1e commented on #213
And, correct me if I am wrong, but in angular-shepherd, I can only create one tour.  I am working in an ionic app and I want a "tour" for each screen that I have.  With this library I only have a service with one "tour".  For this is important delete all the steps.  Anyway I can do it with "removestep", but is not clean for me.

[2020-04-07 15:01] rwwagner90 commented on #213
@jotae1e you will want to use just one tour. Setup all your steps for the multiple tours, but just use the one tour service. `steps` should exist on the `tourObject`, as `tourObject` should be the tour. Please experiment with it a bit and look at the Shepherd docs.

Also, the `addSteps` method in the angular service seems to create a new tour each time you call `addSteps`, so I think that should b

[2020-04-07 15:42] jotae1e commented on #213
It doesn't work.

I write this service in a project:

[code]

If I call to mostrarTourInicio, creates the tour and works well.

If I call to the mostrarTourPerfil, creates the tour and works well.

But If I call mostrarTourInicio, and then mostrarTourPerfil or vice versa, the second one, shows a empty tour (all screen is locked and the arrows in the top left corner)

[2020-04-07 15:51] jotae1e commented on #213
And, sorry for my insistence:

this.shepherdService.tourObject.steps <--- NOT EXIST

[2020-04-07 16:56] jotae1e commented on #213
Sorry about your loosed time.  It was my mistake.  I used the same "classname" for the elements in different ionic page.  I supposed that when a page is destroyed, the components in the DOM are destroyed.  And then with the new page, the components are created.

As you can see, in my example, the components are the same "classname".

I changed the "classname"  of the elements and works well.  Nice

[2020-04-07 16:56] #213 closed

[2020-04-09 12:07] drenda commented on #207
Hi @rwwagner90, do you have any ETA for the new release? Thanks

[2020-04-09 13:14] rwwagner90 commented on #207
@drenda there was a new release already.

[2020-04-09 13:14] #207 closed

[2020-04-09 13:49] drenda commented on #207
Oh sorry I didn't see it because they were hidden in Github.

[2020-04-18 16:55] rwwagner90 commented on #201
Closing due to lack of response. If you are still having issues, let us know!

[2020-04-18 16:55] #201 closed

[2020-05-20 03:44] harleybl opened #266 "DIV shepherd-content empty after upgrade to Angular 9"
I am in the process of upgrading an application to Angular 9.
In the application, we are using angular-shepherd a lot and it has been great.
Now that we are on angular 9 and have updated a lot of dependencies, the tour starts without errors, but the div that usually holds the content of the step is empty. This poses a problem since when the tour is set to modal, the whole page is locked.

Here is

[2020-05-20 04:02] harleybl commented on #266
Actually I figured it out.

The shape of the step object changed from the old version I was using to 0.6.0.
The old shape was:
[code]

The new way does not have the "options" member, and the options are directly on the step now.

[2020-05-20 04:02] #266 closed

[2020-05-20 12:55] rwwagner90 commented on #266
Glad you figured it out @harleybl and sorry for the confusion!

[2020-05-20 13:07] harleybl commented on #266
No problem. The tour shows up now, but the positioning is off compared to the old version. Are there newer properties that I have to set now that have changed between 0.0.5 and 0.6.0?

[2020-05-20 22:53] rwwagner90 commented on #266
@harleybl options could have changed, yes. The step options are pretty well defined in Shepherd itself, so we could probably import the types and use that instead of `any`. We would definitely love a PR if you would like to take that on!

[2020-05-28 12:06] NevenLiang opened #271 "Weird behavior after changing routes"
### Reproduction

1. Click `Start Tour` button. Now the tour flow works well and all buttons work as expected.
2. Click the `About` router link above at navigation and then back to home page.
3. Click `Start Tour` button again. Except close button at the top right conner,
there will be something wrong with other buttons in **step 1**. If try to click them one by one, you will get the result as scr

[2020-05-28 12:44] rwwagner90 commented on #271
@NevenLiang yes, probably need to destroy when you change pages.

[2020-05-28 16:41] NevenLiang commented on #271
@rwwagner90 Do you have any clues about why it happen and any advices to handle it with or without Angular? I can't find a related method in [the docs of tour](https://shepherdjs.dev/docs/Tour.html).

I have tried to add the code as following, but it doesn't work.

[code]

[2020-05-28 18:10] rwwagner90 commented on #271
@NevenLiang I just took a look at the codesandbox, and I am unsure of what the problem is. I am not an Angular dev, so I am not sure if we have something setup wrong or what, but `addSteps` should be setting `tourObject` to a new tour, so there should be no way multiple get triggered.

It almost seems like Angular registers the service multiple times and somehow call the method to create new tours

[2020-05-28 18:48] NevenLiang commented on #271
I have noticed that the tour flow is fine, but the problem is step-1 keeps showing on the screen and only clicking on the cancel(X) icon can make step-1 disappeared.

If we click the **Next** button in step-1, step-1 should disappear. If we click on the **Exit** button or the **Next** button on step-2, the mask does disappear, which means `cancel()` or `complete()` have been called, but step-1 is

[2020-05-28 18:52] rwwagner90 commented on #271
@NevenLiang sorry, perhaps I was not clear in my previous message. I agree with you there is a bug, but I am not an Angular dev, so I do not know what we may have done wrong in this library.

`addSteps` should be setting `tourObject` to a new tour, so there should be no way multiple get triggered.

It almost seems like Angular registers the service multiple times and somehow calls the method to cr

[2020-05-28 20:30] NevenLiang commented on #271
@rwwagner90 OK.

I am still trying to fix it. I have found some new clues.

![image](https://user-images.githubusercontent.com/52629607/83190078-77630100-a164-11ea-9696-c690b94a3a99.png)

There are two `step-1` popups, which are `popup-1` and `popup-3` (You can change the `left` and `bottom` property of `popup-1` to make it clear). The `popup-1` is like a controller, it can only be closed by click

[2020-05-30 19:31] rwwagner90 commented on #271
@NevenLiang Is there new information there? We know Angular is creating multiple instances here. I am not an Angular dev, so it would be helpful if someone who knew how Angular services work could chime in here. It appears the service instantiates itself every time you enter the route, instead of once for the application. We need it to only instantiate one time, and I need guidance from someone wh

[2020-05-30 19:45] rwwagner90 commented on #271
@NevenLiang I believe I got it to work: https://codesandbox.io/s/guide-tour-8znbk

I think the issue is you need to setup the service in your `app.component` so there is a single service created. I believe doing it in child components causes there to be a new service instantiated every time the component is rendered.

We probably need to make the docs more clear about this.

[2020-06-02 19:09] NevenLiang commented on #271
@rwwagner90 Sorry for the late response.

Yes, I set it as component's provider because I use shepherd only in that component now, which leads to instantiate every time the component is rendered.

Thank you so much!

[2020-06-03 14:12] rwwagner90 commented on #271
@NevenLiang you're welcome! Perhaps we should mention this in the README?

[2020-06-26 23:21] dimlucas opened #300 "useModalOverlay does not work on defaultStepOptions"
When creating a new tour, the expected behavior is to set the `useModalOverlay` flag to true in `defaultStepOptions` and have the `shepherd-modal-overlay-container` svg element that is present in the DOM does not get the `shepherd-modal-is-visible` that is necessary to make it appear.

Digging into shepherd.js code, I found that the `useModalOverlay` setting is part of an options object passed in

[2020-06-29 14:22] rwwagner90 commented on #300
@dimlucas that is correct, it's a tour option, not a step option. It is in the tour types https://github.com/shipshapecode/shepherd/blob/master/src/types/tour.d.ts#L144

[2020-06-29 14:23] rwwagner90 commented on #300
As per the examples in the README here, you use `this.shepherdService.modal = true;` to set modal in the angular service.

[2020-06-29 14:23] #300 closed

[2020-08-03 14:42] mohitnihalani opened #346 "Sample Project"
Hi, Is there a sample project using shepherd I can look at.

[2020-08-03 15:07] rwwagner90 commented on #346
There are usage instructions for the angular library in the README https://github.com/shipshapecode/angular-shepherd#usage

https://shepherdjs.dev/ does not use angular, but does use Shepherd.

[2020-08-13 06:23] FedericoEcheverria opened #353 "Angular 8.2.14"
Hi, i use the exmaple https://github.com/shipshapecode/angular-shepherd but my error apears, when this line is added:
constructor(
		private shepherdService: ShepherdService
	) { }
Error:
AppComponent_Host.ngfactory.js? [sm]:1 ERROR NullInjectorError: StaticInjectorError(AppModule)[AppComponent -> ShepherdService]:
  StaticInjectorError(Platform: core)[AppComponent -> ShepherdService]:
    NullInj

[2020-08-13 12:29] rwwagner90 commented on #353
@FedericoEcheverria what version of angular-shepherd are you using? To use Angular 8, you must use 0.5.0

[2020-09-01 11:22] muhammedMoussa commented on #353
works fine with me

[code]

[2020-09-01 12:33] rwwagner90 commented on #353
@muhammedMoussa right, but you are on Angular 10. The versions compatibility is listed in the README, so closing this.

[2020-09-01 12:33] #353 closed

[2020-10-17 17:43] certifirm opened #428 "Execute action from service"
Is possible to execute an action, like a "click" in a button from the service.

How can I do that.

Thanks

[2020-10-17 17:59] certifirm opened #429 "Steps array empty"
If add steps with "addStep" method and then I access to the service steps array, always is empty.

[code]
Is this the normal behaviour?

[2020-10-18 15:38] rwwagner90 commented on #428
@certifirm can you please explain what you mean?

[2020-10-19 06:16] certifirm commented on #428
I wanted to simulate a "click" on a button from the service, change visibility layers, etc to interact with the page viewing the tour.   I have done it using observables. Thank you anyway.

[2020-10-19 06:16] #428 closed

[2020-10-19 16:02] rwwagner90 commented on #428
@certifirm I still don't understand what you mean. Clicking buttons outside of Shepherd? You want to interact with something on the page when a step shows or something? With more details I would be happy to provide some recommendations.

[2020-10-19 16:15] rwwagner90 commented on #429
Yes, the steps are not added to the Angular service, just to Shepherd itself https://github.com/shipshapecode/angular-shepherd/blob/master/projects/shepherd/src/lib/shepherd.service.ts#L115

You can do `this.shepherdService.tourObject.steps` I think.

[2020-10-25 20:09] TheVishalK commented on #158
This is really a cool and simple library. However this issue persists. There appears to be no way to route to another component using buttons.

[2020-10-26 19:41] rwwagner90 commented on #158
@TheVishalK this issue was not an issue, just a documentation mismatch. What's the problem you are experiencing?

[2020-10-26 19:41] #158 closed

[2020-10-26 19:42] #429 closed

[2020-10-26 19:42] #346 closed

[2020-10-26 19:43] #2 closed

[2020-10-26 23:12] TheVishalK commented on #158
I am finding no way to call a custom action. I understand when you quote - you can't have a type and an action on the same button.

Can you please show an example how can I write a custom action like navigating to another route from a button.

How can I call something like
this.router.navigateByUrl(['/profile']);

inside the button action.

[2020-10-27 15:48] rwwagner90 commented on #158
@TheVishalK you can define it in buttons, the same way vanilla Shepherd does.

[code]

[2020-10-28 08:49] TheVishalK commented on #158
Yes. The syntax you put is clear in the document. But can you please give an example of a custom event using the angular plugin.

I tried the following.

this.router.navigateByUrl(['/profile']);
 OR

   this.zone.runOutsideAngular(() => {
              this.router.navigateByUrl(['/profile']);
          });

But none works. In Angular port for Android, this completely hangs.

Can you give an exampl

[2020-10-29 16:19] rwwagner90 commented on #158
@TheVishalK my example above is what you want:

[code]

This is assuming `this.router` is defined here. I'm not an Angular developer, so I don't know where `this.router` comes from. If it's a service it probably has to be injected somehow.

[2020-11-02 08:26] Gaurang-Savaliya opened #440 "step number at step popup"
is there any way to show current step/total steps in numbers?

[2020-11-02 16:05] rwwagner90 commented on #440
See progress indicator here https://shepherdjs.dev/docs/tutorial-04-cookbook.html

[2020-11-02 16:05] #440 closed

[2020-11-25 07:37] NevenLiang opened #457 "`keyboardNavigation` option in tour instance is not available"
In `0.7.0`, tour option `keyboardNavigation` is not available.

In `0.6.0`, step button option `disabled` is not available, but it works in `0.7.0`.

---

[code]

About the compatibility in README, I think the code should be updated to work with latest Shepherd. Otherwise, user doesn't know which API is available in old version. Especially the Shepherd document is latest.

Even after updating the

[2020-11-25 14:47] rwwagner90 commented on #457
@NevenLiang we're not planning to update old versions. We mainly only support latest Angular and latest Shepherd in each new version.

[2020-11-25 18:05] NevenLiang commented on #457
OK, I see.

Shepherd is a great tools for guide tour. If the latest angular-shepherd supports the latest Shepherd is better.

[2020-12-16 20:16] bmcminn opened #472 "Realign major version number of package with Angular Core"
A lot of Angular libraries have started aligning their major versioning with Angular Core, so it is easier for people to know that v7.x, v8.x, v9.x, v10.x, etc is compatible with whichever version of Angular core they may be running.

It would simplify documenting and integrating this package a lot, since I have an app at work on Angular 6 and haven't been given the time to update it to Angular 10

[2020-12-16 20:56] rwwagner90 commented on #472
Hi @bmcminn that's a good suggestion 👍. I just looked back to the inception of this repo, and it seems to have started on Angular 7, so not sure any versions are compatible with Angular 6, I am afraid. https://github.com/shipshapecode/angular-shepherd/blob/b91ffbbf0244f61d08d8953a72a0181bbe36389f/package.json

[2020-12-16 21:27] bmcminn commented on #472
Yeah, for now I'm leveraging Shepherd.js proper until I can get a dev budget for upgrading to Angular v10, but I'm def keeping this library in mind for when we get to that point :)

Keep up the great work :)

[2020-12-17 14:52] rwwagner90 commented on #472
Thanks @bmcminn! I'm not an Angular dev myself, so any suggestions you have here, I am happy to look into. Would love some help!

[2020-12-18 17:47] mruknowme opened #476 "onTourFinish event doesn't fire"
[code]
`console.log` is never executed

[2020-12-18 17:56] rwwagner90 commented on #476
@mruknowme I'm not sure what you're trying to do is intended to work, and I don't think we documented that this should work?

If you want to execute code when the tour completes, try:

[code]

[2020-12-18 18:01] mruknowme commented on #476
Thanks for quick response @rwwagner90. I noticed this was not in documentation but intellisense suggested this option and it is in `shepherd.service.d.ts` file:
[code]

Maye type reference is outdated? Anyways, what you suggested worked for me, thank you!

[2020-12-18 19:09] rwwagner90 commented on #476
@mruknowme ah, `onTourFinish` I believe is an internal method, not meant to be overridden, but I am not entirely sure.

[2020-12-20 13:11] #476 closed

[2021-01-15 20:01] #271 closed

[2021-01-15 20:01] rwwagner90 commented on #3
Some basic tests were added. More should be added, but it is not a priority at this time.

[2021-01-15 20:01] #3 closed

[2021-01-15 20:12] rwwagner90 commented on #472
This is done, thanks for the tip!

[2021-01-15 20:12] #472 closed

[2021-01-15 22:08] rwwagner90 commented on #457
Everything should be up to date in the latest version

[2021-01-15 22:08] #457 closed

[2021-02-01 23:09] KeithGillette opened #511 "Multiple tours?"
From [the Shepherd.JS documentation](https://shepherdjs.dev/docs/tutorial-02-usage.html), I see that the underlying library supports the creation of an arbitrary number of tours. However, `angular-shephard` appears to wrap Shepherd in a single `providedIn: root` `ShepherdService`, which as a singleton, will only support a single application tour.

If one wishes to have multiple tours in a single A

[2021-02-02 01:06] rwwagner90 commented on #511
@KeithGillette can you explain your use case more? Are you trying to have two tours running at one time or are you wanting to create multiple tours just to have different sets of steps? If it's the latter I would recommend just using one tour and replacing the steps as needed.

[2021-02-02 01:59] KeithGillette commented on #511
Thanks for your fast follow-up, @rwwagner90. I’m considering a couple of different use cases:

1. We have users with different roles to whom we’d want to present different onboarding content.

2. We have application functionality we want to cover later than onboarding, triggered when the user has the need to know it.

I was anticipating implementing each of those cases as separate tours, each with

[2021-02-02 13:33] rwwagner90 commented on #511
@KeithGillette I'm saying to create sets of steps for each use case, instead of trying to create a new tour for each case. Then use the steps based on roles or whatever you need:

[code]

[2021-02-02 13:56] KeithGillette commented on #511
@rwwagner90, I can see that conditionally adding steps covers my first use case, since the user's role is exclusive. However, what about the second use case of triggering a tour of different application functionality separate from the main onboarding tour? If I'm reading the API correctly, `addSteps` is non-destructive, so if I were to use a single instance of `ShepherdService`, I'd have to call `

[2021-02-02 15:02] rwwagner90 commented on #511
@KeithGillette so `addSteps` is actually destructive here. It calls `_initialize` which creates a new tour https://github.com/shipshapecode/angular-shepherd/blob/master/projects/shepherd/src/lib/shepherd.service.ts#L89

That may or may not be the best way to handle it, but I think for all of your cases creating sets of steps you add with `addSteps` will work.

We should likely expose a `destroy` m

[2021-02-02 15:27] KeithGillette commented on #511
Thanks, @rwwagner90. That makes sense now. Since the `angular-shepherd` documentation README just references the Shepherd.js documentation, I assumed the methods with the same name worked the same, but I see the `ShepherdService` wrapper method differs here. As you say, it may not be the best way to handle my use cases, but since it re-initializes the tour, just using `addSteps` would definitely c

[2021-02-02 15:27] #511 closed

[2021-02-02 17:27] rwwagner90 commented on #511
@KeithGillette I'm not an Angular dev, but if you were interested in contributing this to the library, PRs are welcome!

[2021-02-09 12:36] skandula106 opened #522 "Getting error while using"

[2021-02-09 12:38] #522 closed

[2021-02-09 12:38] skandula106 commented on #522
placed by mistake

[2021-02-15 21:20] JanLoebel opened #531 "Question: Using angular code/link in step"
Hi there,

first of all thanks for the great library :) Exactly what I was looking for!

My question is if I can use internal links that triggers some angular code within a step? Example:

[code]

I know I can add a button that triggers an action, but can that also be done within the text/element itself?

Best regards,
Jan

[2021-02-15 23:02] rwwagner90 commented on #531
@JanLoebel I'm actually not sure. The text does support html, so there should be a way to do this.

[2021-02-20 20:00] somq opened #538 "Unable to install (sh: husky: command not found) because of shepherd.js > @popperjs/core dependency"
`@popperjs/core` [breaks](https://github.com/popperjs/popper-core/issues/1250) `shepherd.js` which [breaks](https://github.com/shipshapecode/angular-shepherd/blob/master/package-lock.json#L14125) `angular-shepherd`

[code]

I've reproduced the issue with all versions from 0.5.0 to 0.11.0

[2021-02-20 22:23] rwwagner90 commented on #538
@somq This is a popper issue. They released a new version to fix it 2 hours ago https://github.com/popperjs/popper-core/releases/tag/v2.8.2

[2021-02-20 22:54] #538 closed

[2021-03-12 12:26] CherniyFY opened #559 "Add `type` to interface `StepOptionsButton`"
If I try to add `type` to button using `tourObject.getById().updateStepOptions()` I get the following error:

  Object literal may only specify known properties, and 'type' does not exist in type 'StepOptionsButton'.ts(2322)

This happens because interface `StepOptionsButton` doesn't have `type`, in comparison we can set `type` on button in `addSteps()` because its param is `Array<any>`.

[2021-03-12 18:25] rwwagner90 commented on #559
@CherniyFY sorry for the confusion! `type` is not a valid thing on a Shepherd button. We added it to this angular wrapper, for ease of making buttons with a specific type. You can see the built in types here https://github.com/shipshapecode/angular-shepherd/blob/master/projects/shepherd/src/lib/utils/buttons.ts#L11

So this error you are seeing is correct. Honestly, we should probably remove this

[2021-03-15 13:48] CherniyFY commented on #559
In that case, also should probably remove it from readme

[2021-03-17 19:10] rwwagner90 commented on #559
@CherniyFY it does currently exist in this wrapper, I am saying it's not a Shepherd thing, it's an angular-shepherd thing, so the type hierarchy you are looking for does not exist.

[2021-03-17 19:10] #559 closed

[2021-05-10 08:27] loriepisicchio opened #623 "Add `attributes` on `StepOptionsButton`"
Hello !
I would like to be able to add a `data-testid` attribute on the generated buttons for the tour, in order to ease the E2E tests of my application.
My code would look like
[code]

Do you think this is a feature you could add ?

[2021-05-12 14:04] rwwagner90 commented on #623
Hi @loriepisicchio, this seems like a good addition! I think this is something we would want to add in Shepherd itself. Would you be interested in submitting a PR for this?

[2021-07-12 04:50] swapnilingle15 opened #687 "Not Compatible with angular 12"
Getting below error

 npm ERR! code ERESOLVE
06:00:08   npm ERR! ERESOLVE unable to resolve dependency tree
06:00:08   npm ERR!
06:00:08   npm ERR! While resolving: portal@0.0.0
06:00:08   npm ERR! Found: **@angular/common@12.0.5**
06:00:08   npm ERR! node_modules/@angular/common
06:00:08   npm ERR!   **@angular/common@"~12.0.0"** from the root project
06:00:08   npm ERR!
06:00:08   npm ERR! Could

[2021-07-20 14:17] pelord commented on #687
Same issue!

[2021-07-20 20:15] sepatel commented on #687
PR #688  fixes this up but nobody seems to be active enough to actually do anything with it. Unsure how to get a persons attention to this matter.

[2021-07-21 13:31] pelord commented on #687
I will try your branch !

[2021-08-12 14:02] pelord commented on #687
@shipshapecode Any plan to publish the angular 12 version on NPM?

[2021-08-12 15:37] rwwagner90 commented on #687
@pelord I just published 12.0.0. Can you please give it a try?

[2021-08-12 15:38] pelord commented on #687
yep! thanks!

[2021-08-12 15:43] rwwagner90 commented on #687
Please let me know if it works for you and we can close this issue

[2021-08-16 13:55] rwwagner90 commented on #687
@pelord did it work?

[2021-08-16 13:56] pelord commented on #687
@rwwagner90 I will test it today!

[2021-08-16 18:20] pelord commented on #687
@rwwagner90 I have some issues building my app with others dependencies.. I will continue tomorrow! sorry! Still in progress !

[2021-08-18 12:03] Abdelrahman-7gab opened #745 "getCurrentStep() function is not included in angular-shepherd"
although the function is included in shepherd js itself
I can not use it on the shepherdService instance.

I want to add a step counter like the docs but I always end up with :
Property 'currentStep' does not exist on type 'ShepherdService'.ts
i even tried getCurrentStep but with no result

[2021-08-18 14:53] Abdelrahman-7gab commented on #745
I figured it out I was able to access the current step and the steps array by using

this.shepherdService.tourObject.getCurrentStep()
and
this.shepherdService.tourObject.steps

[2021-08-18 14:53] #745 closed

[2021-08-24 16:02] pelord commented on #687
It's working properly. The issue could be closed.

[2021-08-24 17:59] #687 closed

[2021-09-23 22:14] hebertlima opened #789 "Question: remove steps?"
Hi there!

is there any way to remove all steps?

in the official documentation there is a `destroy()` method but it didn't work:

something like:
[code]

[2021-09-24 01:55] rwwagner90 commented on #789
`destroy` is for steps, not for the tour itself. There is not a way to destroy all the steps. However, if you are using this angular wrapper, each time you call `addSteps` it creates a new tour, so that should be doing what you want.

[2021-09-24 03:59] hebertlima commented on #789
Thanks for the quick response!
I'm using a components extends architecture, so every time a component is loaded, all the data is persisted and this causes an overload of steps (each component have diferents steps and all push into `this.onboarding.addSteps([]);`), my intention would be to destroy or reset the steps within the `ngOnDestroy()` from each component.

[2021-09-24 16:04] rwwagner90 commented on #789
@hebertlima I don't understand. `addSteps` in this package will make a new tour every time, so you just need to pass it whatever steps you want to display.

[2021-09-24 21:29] hebertlima commented on #789
I reproducing here:

https://stackblitz.com/edit/angular-tmx2ax?file=src/app/base/base.component.ts

I think I messed something up

[2021-09-26 13:25] rwwagner90 commented on #789
@hebertlima I don't see anything running there.

[2021-09-27 20:47] behroozbc opened #793 "add shepherd types"
hi
I see [this types](https://github.com/shipshapecode/shepherd/blob/master/src/types/step.d.ts) but in service methods like [addsteps](https://github.com/shipshapecode/angular-shepherd/blob/3a62edbf59826cebf50bcfc5fb347bbb0a657522/projects/shepherd/src/lib/shepherd.service.ts#L88) is any[], in typescript prefer have type .
I want to know why use any ?
and can I add type for some method ?

[2021-09-28 17:32] rwwagner90 commented on #793
@behroozbc feel free to fix the types!

[2021-09-30 14:08] behroozbc opened #796 "unused variable"
hi
I see (step property)[https://github.com/shipshapecode/angular-shepherd/blob/d1a53b6a6a1a07770605308d706f7af733d7e5ba/projects/shepherd/src/lib/shepherd.service.ts#L18] is not in use or in shepherd service but used in shepherd service test
Can remove this property ?

[2021-10-01 08:53] NewSnowflake opened #797 "zone.js dependency is outdated"
Would it be possible to update the angular-shepherd zone.js dependency to 0.11.x without issues?

[2021-10-05 00:50] rwwagner90 commented on #797
@NewSnowflake please feel free to open a PR!

[2021-10-05 08:58] #793 closed

[2021-10-13 02:31] tumit commented on #796
I PR for this issue https://github.com/shipshapecode/angular-shepherd/pull/810

[2021-10-16 00:13] avramz commented on #623
@rwwagner90 This one still up for grabs?

[2021-10-16 01:43] rwwagner90 commented on #623
@avramz yeah, but it would need to be done in Shepherd itself.

[2021-11-09 19:20] behroozbc opened #847 "support angular 13"
hi
angular 13 release last week
any plane to support it ?

[2021-11-10 13:20] rwwagner90 commented on #847
@behroozbc of course. Would you like to open a PR adding support?

[2021-11-10 14:25] behroozbc commented on #847
@rwwagner90 sounds good I do it.
one thing I install node 16 and generate package lock json version 2 Its okay

[2021-11-10 17:14] Ragini2709 opened #849 "step only appears when window is resized in angular-shepherd"
shepherd tour guide step only appears when window is resized in angular-shepherd.

[2021-11-12 02:33] kishorekumarvajravel opened #852 "navigate like routing"
Hi,

There is any way to route a page using the router link or any other way ??

Like => this.router.navigateByUrl(['/redirecturl']);

Not using location.href="redirectUrl";

please update and thanks,

[2021-11-18 17:19] yuraSpivak1994 opened #856 "where is currentStep()??"
i can't get current step

[2021-11-18 21:47] rwwagner90 commented on #856
@yuraSpivak1994 https://shepherdjs.dev/docs/Tour.html#getCurrentStep

`this.shepherdService.tourObject.getCurrentStep`

[2021-11-18 21:47] #856 closed

[2021-11-22 13:54] rwwagner90 commented on #852
@kishorekumarvajravel you can change pages however you see fit. I would hide the tour before transitioning and then show it again once you are fully transitioned. You may need to leverage `beforeShowPromise` for this.

[2021-12-03 18:05] behroozbc commented on #847
@rwwagner90
hi when new version publish to npm ?

[2021-12-05 13:27] rwwagner90 commented on #847
@behroozbc it should be published now

[2021-12-05 13:27] #847 closed

[2021-12-10 15:33] jorisbaiutti opened #896 "wrong dependency in version 13"
When installing on angular 13 project => dependency error because it references "@angular/common": "^12.2.1"
should be "@angular/common": "^13.1.0"

https://github.com/shipshapecode/angular-shepherd/blob/c4af6ef6fd23d4c6233833007bca7ed669323458/projects/shepherd/package.json#L22

[2022-01-14 12:21] hafnerpw opened #941 "requiredElements not working as intended"
![image](https://user-images.githubusercontent.com/60545335/149514568-fb1ecca0-ba78-48d7-86b0-ad24a5696a03.png)
This is simply not working. I can add any selector I want, the Tour WILL always start. I can't call addSteps but it will ALWAYS display an empty popup. This is very frustrating if the required element is inside ngIf and is only displayed to some users. In my case other users that don't h

[2022-01-14 19:11] rwwagner90 commented on #941
@w-hafner I believe that is the intended behavior. The documentation is misleading though. You can see here https://github.com/shipshapecode/angular-shepherd/blob/cf2735108b41b6a2af6553acdbf9630b3f2f00c0/projects/shepherd/src/lib/shepherd.service.ts#L96-L106 that if the required elements are not present, it will add a single step to the tour, displaying whatever title and error message you set.

[2022-02-01 14:25] rwwagner90 commented on #896
Should be fixed

[2022-02-01 14:25] #896 closed

[2022-02-21 05:49] MrDoga opened #1014 "Unable to install shepherdjs in angular 11"
[code]

[2022-02-21 18:04] rwwagner90 commented on #1014
@MrDoga please check the README for our compatibilyt table:

[code]

You'll need angular-shepherd 11.x.

[2022-02-21 18:04] #1014 closed

[2022-02-27 12:04] daghendrik opened #1030 "Scrolling during a tour is buggy if height is set to 100% on body and html"
If you style your Angular app's "body" and "html" tags with "height: 100%" and then start a tour, scrolling will partially work (just as the demo "shepherd-tester" in the repo), but if you scroll up and down a bit, scrolling will suddenly stop working and you might get stuck with the tour modal out of view.

So if you have

[code]

in your styles.css, and want to use Angular Shepherd without the b

[2022-02-27 15:05] rwwagner90 commented on #1030
@daghendrik our demo page has `height: 100%` on the body https://shepherdjs.dev/ so I am not sure that this is your actual issue.

[2022-02-27 17:30] daghendrik commented on #1030
@rwwagner90 Thank you for responding so quickly. You are probably right. However it seems to be a problem that's related to the height, but maybe in combination with some other dependencies or configurations?

The problem exists in my Angular 13 SPA, but to verify that it's just not my project that suffers from the issue I tried to reproduce it by using using a fairly popular angular material star

[2022-02-28 04:18] rwwagner90 commented on #1030
@daghendrik I suspect something with the styles or JS included with Angular NgRx Material is causing issues here. Are there any errors in the console? I believe what hides the tooltip when scrolled off the page is a Popper modifier, so I wonder if that library is also using Popper and conflicting? It's really hard to know for sure. I would recommend trying removing the CSS files from that starter

[2022-02-28 13:04] daghendrik commented on #1030
No errors in the console, but if I manually remove (in chrome's dev console) the "height: 100vh" of the svg element that shepherd creates to produce the grayed out layer just below the modal, then scrolling and everything works just as the demo (except the grayed out SVG "layer" not being shown, of course)

![image](https://user-images.githubusercontent.com/1830026/155987616-49cd7eca-4d17-4548-999

[2022-02-28 17:45] rwwagner90 commented on #1030
@daghendrik can you please try removing all your extra styles added by your framework? This is not something to be fixed in Shepherd, but rather some additional styles or logic your framework is including that break things.

[2022-03-25 23:08] sebrojas14 opened #1074 "StepOptionsButton 'type' property missing in types #1858"
Look in sheperd repository https://github.com/shipshapecode/shepherd/issues/1858

[2022-03-26 02:46] sebrojas14 commented on #1074
The problem really was that there is not 'type' property any more in the shepherd library. Instead, we should use action like this:
[code]

Going to make a PR.

[2022-03-27 18:32] rwwagner90 commented on #1074
@sebrojas14 `type` is definitely a thing. It's part of this wrapper, not part of Shepherd itself. See here https://github.com/shipshapecode/angular-shepherd/blob/master/projects/shepherd/src/lib/utils/buttons.ts#L11

[2022-03-27 18:32] #1074 closed

[2022-03-28 16:12] sebrojas14 commented on #1074
[rwwagner90](https://github.com/rwwagner90) so it's bad implemented. If you see, in ShepherdService it's referenced the shepherd.js type that doesn's have type property. https://github.com/shipshapecode/angular-shepherd/blob/master/projects/shepherd/src/lib/shepherd.service.ts#L5

[2022-04-25 09:36] yc-98 commented on #158
Hii @rwwagner90 ,
I tried using exactly the same way. But doesn't work that way.
message in browser console-
ERROR TypeError: Cannot read properties of undefined ( reading 'navigateByUrl')
console.log works but this doesn't which make me think if while executing shepherd service is not able to refer to navigateByUrl ( I did import this in the component where i use the tour but still the problem pe

[2022-04-25 09:41] yc-98 commented on #852
Hii @rwwagner90 ,
I tried this.router.navigateByUrl(['/redirecturl']); . But doesn't work that way.
message in browser console-
ERROR TypeError: Cannot read properties of undefined ( reading 'navigateByUrl')
console.log works but this doesn't which make me think if while executing shepherd service is not able to refer to navigateByUrl ( I did import this in the component where i use the tour but s

[2022-04-25 14:33] rwwagner90 commented on #852
@yc-98 sounds like you are not binding your scope right and `this.router` is undefined.

[2022-04-25 14:38] rwwagner90 commented on #158
@yc-98 it's a scoping issue. `this` inside the action points to the tour.

Try this:

[code]

As a last resort, you could define a variable for the router.

[code]

Does this make sense?

[2022-05-20 10:38] verygreenboi commented on #852
You'll need to bind the function to the component scope.

[2022-05-31 12:31] #852 closed

[2022-06-09 10:53] MatZil commented on #158
You are absolutely right, worked like a charm - got a headache from figuring out a way to access service-scoped variables inside the button action - and this is exactly how you do it. Thank you!

[2022-06-14 08:04] symonfly82 opened #1230 "Unable to resolve dependency tree after upgrade project to Angular 14"
**Describe the bug**
After upgrading angular project to v14 and running npm install I encountered the error in image below

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade an Angular project to v14
2. Run npm install

**Expected behavior**
Dependencies must be upgraded

**Screenshots**
![image](https://user-images.githubusercontent.com/51240626/173525345-a7bc64d9-8112-4a07-87be-fac0b6

[2022-06-15 12:42] #797 closed

[2022-06-15 14:05] rwwagner90 commented on #1230
v14 was just released

[2022-06-15 14:05] #1230 closed

[2022-06-15 14:06] rwwagner90 commented on #174
Closing this due to no response.

[2022-06-15 14:06] #174 closed

[2022-07-18 15:28] amic81 opened #1302 "Multilingual application - dynamic text"
Hi,
I wanted to ask if it is possible and if so how to manage the fact of having a multilingual tour.

For example, how can you manage to make the text in dynamic :

`buttons: [
    {
      text: ???,
      action: tour.next
    }
  ]`

  and also title and text in every single step?

  Thank you

[2022-07-18 16:03] rwwagner90 commented on #1302
@amic81 you'll have to use some sort of `i18n` package then use that to set your text accordingly.

[2022-08-30 11:37] KusumaKBBHN commented on #623
Hi,  I am trying to call a custom function on completion of the tour. I am using a tour service which is called in the header component of each file and on completion of the tour, I need to update my database about the same. For that I am using a user defined service, however the function fails to recognise that service and is always complains it to be undefined. Please help me achieve this.

impo

[2022-08-30 12:07] KusumaKBBHN commented on #158
I am still unable to get the custom function work on button action.

showTour(pageSteps) {
    this.shepherdService.addSteps(pageSteps);
    const tourId = localStorage.getItem('tour-id');
    const tourFrom = localStorage.getItem('backtoprevious');
    if (tourId && tourFrom == 'true') {
      this.shepherdService.show(tourId);
    } else if (tourId == '10') {
      this.shepherdService.show(tour

[2022-08-30 12:38] MatZil commented on #158
Replace

`this.shepherdService.tourObject.on("complete", this.onTourComplete);`

with

`this.shepherdService.tourObject.on("complete", **() =>** this.onTourComplete**()**);`

[2022-08-30 12:54] KusumaKBBHN commented on #158
@MatZil Thanks a lot. Worked like a charm.

[2022-10-04 19:48] smlombardi opened #1443 "Shepherd 14 no longer allows button types"
I updated my app to use Angular 14 and angular-shepherd 14.

The tour which previously worked fine now will not compile and throws errors like this in the terminal when I try to compile:

<img width="966" alt="Terminal-20221004_154735" src="https://user-images.githubusercontent.com/835148/193911885-c86289db-becb-4591-a192-216406002f01.png">

According to the docs this is still a valid type and I d

[2022-10-05 12:30] rwwagner90 commented on #1443
@smlombardi button types are a thing still. My guess is the types are wrong. I don't know where these types are coming from.

[2022-10-05 12:44] smlombardi commented on #1443
with Angular Shepherd 14 installed, this block is flagged in VSCode as an error on the `type: cancel` line and will not compile.

Note that I can run angular shepherd 12 in angular 14 just fine, and without this error

[code]

[2022-10-05 15:43] rwwagner90 commented on #1443
@smlombardi yes, what I said still applies. Button types are a thing still. My guess is the types are wrong. I don't know where these types are coming from.

[2022-10-14 08:40] lespuch-v opened #1468 "Disable double clicks?"
Hi, first of all, I would like to thank you for this great library. As I was working and using this library, I found an issue that I was unable to solve.

I have a situation where I have some animations, and the animation has to finish before the next step appears; otherwise, step will not appear on the screen.

For example, an accordion has to unwrap before I can target a specific item and I mana

[2022-10-14 11:58] david990917 opened #1469 "Lastest Demo Project and about defaultSteps"
The brief demo in README shows we use `import { steps as defaultSteps, defaultStepOptions} from '../data';`, but we can not find it and related demos.

Is it possible to offer the related demo-angular project to see how it works now?

[2022-10-14 11:59] david990917 commented on #1469
If I solve the `defaultSteps` problem, I have willingness to contribute one `angular-demo-project`

[2022-10-16 01:20] rwwagner90 commented on #1469
@david990917 it's just an example, I am not sure what you mean. There is a very basic test app if that is helpful https://github.com/shipshapecode/angular-shepherd/blob/master/projects/shepherd-tester/src/app/shepherd/shepherd.component.ts

[2022-10-17 01:00] rwwagner90 commented on #1468
@lespuch-v you can use `beforeShowPromise` or we recently refactored Shepherd itself to take a `function` for `attachTo.element` to allow more control over these sorts of situations.

[2022-11-23 10:17] david990917 commented on #1469
Thank you, it seems it can work.

And I have another question, can this `angular-website-tour`  work with `multiple pages in the `angular app`? I tried to use it, but seems it not work well with different pages for example, `localhost` and `localhost/cart`. **It can not automatically change the page**